<div id="bar-chart">
	<!-- <div class="bar"  *ngFor="let entry of data" [style.height]="entry.price + 'px'"></div> -->
	<svg>
		<g class="axis">
			<g style="opacity: 1;" transform="translate(0,460)">
				<line x2="8000" y2="0" x1="0" y1="0"></line>
				<text dy=".32em" text-anchor="end" x="-9" y="0">5</text>
			</g>
			<g style="opacity: 1;" transform="translate(0,0)">
				<line x1="0" x2="0" y1="0" y2="460"></line>
				<text dy=".32em" text-anchor="end">5</text>
			</g>
		</g>
		<g class="dotted-lines">
			<g style="opacity: 1;" transform="translate(0,460)">
				<line x2="8000" y2="0" x1="0" y1="0"></line>
			</g>
			<g style="opacity: 1;" transform="translate(0,360)">
				<line x2="8000" y2="0" x1="0" y1="0"></line>
			</g>
			<g style="opacity: 1;" transform="translate(0,260)">
				<line x2="8000" y2="0" x1="0" y1="0"></line>
			</g>
			<g style="opacity: 1;" transform="translate(0,160)">
				<line x2="8000" y2="0" x1="0" y1="0"></line>
			</g>
			<g style="opacity: 1;" transform="translate(0,060)">
				<line x2="8000" y2="0" x1="0" y1="0"></line>
			</g>
		</g>
	</svg>
</div>
